<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE xml>
<Configuration status="error">
	<Appenders>
		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="[%-5p] %-23d{dd/MM/yyyy HH:mm:ss:SS} - %t - %m - %l%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Logger name="com.bau" level="DEBUG" additivity="false">
			<AppenderRef ref="console" />
		</Logger>
		<Root level="INFO">
			<AppenderRef ref="console" />
		</Root>
	</Loggers>
</Configuration>